absl-py==1.0.0
addict==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
albumentations==1.2.1
alembic==1.8.1
antlr4-python3-runtime==4.8
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astropy==5.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
black==22.3.0
bleach==5.0.0
blessed==1.19.1
cachetools==5.0.0
catkin-pkg==0.5.2
ccimport==0.3.7
certifi @ file:///opt/conda/conda-bld/certifi_1655968806487/work/certifi
cffi==1.15.0
chamfer==2.0.0
# Editable Git install with no remote (chamfer-ext==0.0.0)
-e /home/wanboyan/Documents/cmr-master/extern/multi_part_assembly-master/multi_part_assembly/utils/chamfer
charset-normalizer==2.0.12
click==8.1.3
-e git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16#egg=clip
cloudpickle==2.1.0
coloredlogs==15.0.1
colorlog==6.6.0
colormap2d @ git+https://github.com/MMesch/cmap_builder.git@4204540286f07554160e0c5478a9f85cf3a836d5
commonmark==0.9.1
ConfigArgParse==1.5.3
coverage==6.4
cssutils==2.6.0
cumm-cu113==0.2.8
cycler==0.11.0
Cython==0.29.30
databricks-cli==0.17.2
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
descartes==1.1.0
-e git+https://github.com/facebookresearch/detectron2.git@da61831a4acdd052b05bab5df6b4a8511e4944ee#egg=detectron2
diffusers==0.12.1
diffvg==0.0.1
distro==1.7.0
docker==5.0.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.17.1
easydict==1.9
einops==0.6.0
entrypoints==0.4
# Editable Git install with no remote (eqnet==0.0.0)
-e /home/wanboyan/Documents/cmr-master/extern/GPV_Pose-master/EQNet
et-xmlfile==1.1.0
executing==0.8.3
fairscale==0.4.12
faiss-gpu==1.7.2
fastjsonschema==2.15.3
filelock==3.10.0
fire==0.4.0
flake8==4.0.1
Flask==2.2.2
flatbuffers==1.12
fonttools==4.33.3
freetype-py==2.3.0
FrEIA==0.2
frozenlist==1.3.0
fsspec==2022.3.0
ftfy==6.1.1
future==0.18.2
future-fstrings==1.2.0
fvcore==0.1.5.post20220506
gast==0.4.0
gdown==4.6.4
# Editable Git install with no remote (geotransformer==1.0.0)
-e /home/wanboyan/Documents/cmr-master/extern/GeoTransformer-main
gitdb==4.0.9
GitPython==3.1.27
glcontext==2.3.6
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gorilla-core==0.2.7.8
gpustat==1.0.0
graphslam==0.0.8
greenlet==1.1.2
grpcio==1.46.0
gtsam==4.1.1
gunicorn==20.1.0
gym==0.24.0
gym-notices==0.0.6
h5py==2.9.0
healpy==1.16.1
huggingface-hub==0.13.2
humanfriendly==10.0
hydra-core==1.1.2
idna==3.3
imageio==2.19.2
imagesize==1.3.0
imgaug==0.4.0
importlib-metadata==4.11.3
importlib-resources==5.2.3
iniconfig==1.1.1
invisible-watermark==0.1.5
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.7
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyter-packaging==0.12.0
jupyter-server==1.17.0
jupyterlab==3.4.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.13.0
jupyterlab-widgets==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
kornia==0.6.6
lark==1.1.2
libclang==14.0.1
llvmlite==0.36.0
lmdb==1.3.0
lyft-dataset-sdk==0.0.8
Mako==1.2.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mesh-to-sdf==0.0.14
mistune==0.8.4
mlflow==1.28.0
mmcls==0.23.1
mmcv-full==1.5.0
mmdet==2.22.0
# Editable Git install with no remote (mmdet3d==1.0.0rc0)
-e /home/wanboyan/Documents/cmr-master/extern/DeepVision3D-master/MMDetection3D
mmsegmentation==0.22.0
moderngl==5.6.4
mpmath==1.2.1
multidict==6.0.2
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.6.2
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8
ninja==1.10.2.3
notebook==6.4.11
notebook-shim==0.1.0
numba==0.53.0
numpy==1.22.3
nuscenes-devkit==1.1.9
nvidia-ml-py==11.495.46
oauthlib==3.2.0
omegaconf==2.1.2
onnx==1.13.1
onnxruntime==1.14.1
open3d==0.15.2
opencv-python==4.5.5.64
opencv-python-headless==4.6.0.66
OpenEXR==1.3.8
openmesh==1.2.1
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.3
pathspec==0.9.0
pathtools==0.1.2
pccm==0.3.4
pexpect==4.8.0
PG-OP==0.0.0
pickleshare==0.7.5
Pillow==9.1.0
pipreqs==0.4.13
platformdirs==2.5.2
plotly==5.8.0
pluggy==1.0.0
plyfile==0.7.4
pockets==0.9.1
pointnet2==0.0.0
# Editable Git install with no remote (pointnet2-ops==3.0.0)
-e /home/wanboyan/Documents/cmr-master/extern/multi_part_assembly-master/multi_part_assembly/models/modules/encoder/pointnet2/pointnet2_ops_lib
portalocker==2.4.0
potpourri3d==0.0.3
prettytable==3.3.0
progress==1.6
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyassimp==4.1.4
pybind11==2.10.0
pybullet==3.2.5
pycocotools==2.0.4
pycodestyle==2.8.0
pycparser==2.21
pyDeprecate==0.3.2
pydot==1.4.2
pyerfa==2.0.0.1
pyflakes==2.4.0
pyglet==1.5.26
Pygments==2.12.0
PyJWT==2.4.0
pymesh2==0.3
pymeshlab==2022.2.post2
pyntcloud==0.3.1
pynvml==11.4.1
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.6
pyparsing==3.0.8
# Editable Git install with no remote (pypose==0.5.0b0)
-e /home/wanboyan/Documents/cmr-master/extern/pypose-main
pyquaternion==0.9.9
pyrallis==0.3.1
pyrender==0.1.45
pyro-api==0.1.2
pyro-ppl==1.8.1
pyrr==0.10.3
pyrsistent==0.18.1
pysdf==0.1.8
PySocks==1.7.1
pytest==7.1.2
pytest-cov==3.0.0
pytest-html==3.1.1
pytest-lazy-fixture==0.6.3
pytest-metadata==2.0.1
python-dateutil==2.8.2
pytictoc==1.5.2
pytorch-lightning==1.6.3
pytorch-points==0.91
-e git+https://github.com/facebookresearch/pytorch3d.git@2c64635daa2aa728f35ed4abe41c6942ae8c0d8b#egg=pytorch3d
pytz==2022.1
PyVirtualDisplay==3.0
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.3.1
QtPy==2.1.0
qudida==0.0.4
querystring-parser==1.2.4
recommonmark==0.7.1
regex==2022.7.9
requests==2.27.1
requests-oauthlib==1.3.1
robust-laplacian==0.2.4
rospkg==1.4.0
rsa==4.8
scikit-build==0.17.6
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
se3-gconv==0.0.0
seaborn==0.11.2
Send2Trash==1.8.0
sentry-sdk==1.5.11
setproctitle==1.2.3
Shapely==1.8.2
SharedArray==3.2.1
shortuuid==1.0.8
simple-3dviz==0.5.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spconv-cu113==2.1.21
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.40
sqlparse==0.4.2
stack-data==0.2.0
svgpathtools==1.6.0
svgwrite==1.4.3
sympy==1.10.1
tabulate==0.8.9
-e git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318#egg=taming_transformers
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.13.3
terminaltables==3.1.10
test-tube==0.7.5
threadpoolctl==3.1.0
tifffile==2022.5.4
timm==0.6.5
tinycss2==1.1.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.2
torch==1.11.0+cu113
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-spline-conv==1.2.1
torchaudio==0.11.0+cu113
torchmeta==1.4.0
torchmetrics==0.8.2
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.19.2
transforms3d==0.3.1
trimesh==3.9.10
typing-inspect==0.8.0
typing_extensions==4.2.0
urllib3==1.26.9
wandb==0.12.16
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.2.2
widgetsnbextension==3.6.0
wrapt==1.14.1
yacs==0.1.8
yapf==0.32.0
yarg==0.1.9
yarl==1.7.2
zipp==3.8.0
